{% extends 'base.html.twig' %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-md py-4">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>
            {% endif %}

            {% if justRegistered %}
                <div>
                    {% trans %}Registration successful. You can login.{% endtrans %}
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="inputEmail" class="form-label">{% trans %}Email{% endtrans %}</label>
                <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       required autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label" for="inputPassword">{% trans %}Password{% endtrans %}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>

            <button class="btn btn-primary mb-3" type="submit">
                {% trans %}Login{% endtrans %}
            </button>
            {% if enableRegistrations %}
                <div>{% trans %}First time here?{% endtrans %} <a href="/register">{% trans %}Register{% endtrans %}.</a></div>
            {% endif %}
        </form>
    </div>

{% endblock %}
