{% extends 'base.html.twig' %}

{% block title %}Přidat recept{% endblock %}

{% block body %}
    <div class="container-md py-4">
        <h1>Přidat nový recept</h1>
        {{ form_start(form, {
            'attr' : {'class' : 'mt-3'},
        }) }}
        <div class="my-3">
            {{ form_row(form.title, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.description, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.link, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.image, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <button type="submit" class="btn btn-primary">Uložit změny</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
