{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit tags{% endtrans %}{% endblock %}

{% block body %}
    <main class="site-main">
        <div class="container-md py-4">
            <h1>{% trans %}Edit tags{% endtrans %}</h1>
            <section class="py-3">
                <a class="btn btn-large btn-secondary" href="{{ path('create_tag') }}">{% trans %}Add new tag{% endtrans %}</a>
            </section>
            <section class="py-3">
                <h2>{% trans %}Created tags{% endtrans %}</h2>
                <section class="py-3 d-flex flex-wrap gap-2">
                    {% for tag in tags %}
                        <div class="card d-inline p-1 bg-secondary-subtle">
                            <span class="m-2">{{ tag.name }}</span>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#{{ tag.id }}" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .6rem; --bs-btn-font-size: .8rem;">
                                ✕
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ tag.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">{% trans %}Delete tag{% endtrans %}
                                            <i><b>{{ tag.name }}</b></i></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% trans %}Deleting a tag also removes the tag from all recipes. Are you sure you want to delete it?{% endtrans %} {% trans %}This action can not be undone.{% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" href="{{ path('delete_tag', {tagId: tag.id}) }}">{% trans %}Delete{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </section>
        </div>


    </main>
{% endblock %}

