{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit recipe{% endtrans %}{% endblock %}

{% block body %}
    <div class="container-md py-4">
        <h1>{% trans %}Edit recipe{% endtrans %}</h1>
        {{ form_start(form, {
            'attr' : {'class' : 'mt-3'},
        }) }}
        <div class="mb-3">
            {{ form_row(form.title, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.description, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.link, {
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="form-group mb-3">
            <label class="form-label">{% trans %}Uploaded image{% endtrans %}</label>
            <div>
                <img src="{{ '/images/small/' ~ recipe.slug ~ '.jpg' ~ '?' ~ recipe.cacheBuster }}"
                     alt="{{ recipe.title }} " class="mw-100">
            </div>
        </div>
        <div class="mb-3">
            {{ form_row(form.image, {
                'label' : 'Upload another image',
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
