{% extends 'base.html.twig' %}

{% block title %}Upravit recept{% endblock %}

{% block body %}
    <div class="container-md">
        <main class="site-main">
            <div class="container-flex">
                <article class="content">
                    <section class="post-full-content">
                        {{ form_start(form) }}
                            {{ form_row(form.title) }}
                            {{ form_row(form.description) }}

                        <div class="form-group">
                            <label>Nahraný obrázek</label>
                            <div>
                                <img src="{{ '/images/small/' ~ recipe.slug ~ '.jpg' }}" alt="{{ recipe.title }} " class="mw-100">
                            </div>
                        </div>

                            {{ form_row(form.image, {
                                'label' : 'Nahrát jiný obrázek'
                            })  }}

                            <button type="submit" class="btn btn-primary">Uložit změny</button>
                        {{ form_end(form) }}
                    </section>
                </article>
            </div>
        </main>
    </div>

{% endblock %}
