<!doctype html>
<html lang="cs">
<head>
    <meta name="robots" content="noindex">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="/manifest/manifest.json">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app.css">

    <title>{% block title %}{% trans %}Recipes{% endtrans %}{% endblock %}</title>

</head>
<body>

<nav class="navbar bg-body-tertiary navbar-expand-md">
    <div class="container-md">
        <a class="navbar-brand" href="/">{% trans %}Recipes{% endtrans %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('edit_tags') }}">{% trans %}Edit tags{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create_new_recipe') }}">{% trans %}Add new recipe{% endtrans %}</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}User{% endtrans %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path('change_password') }}">{% trans %}Change password{% endtrans %}</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('edit_users') }}">{% trans %}Users{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{% for message in app.flashes('success') %}
    <div class="container-md">
        <div class="alert alert-success">
            {{ message }}
        </div>
    </div>
{% endfor %}

{% block body %}{% endblock %}
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
