{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}
    <div class="container-md">
        <article class="">
            <figure class="">
                <img src="{{ '/images/' ~ recipe.slug ~ '.jpg' }}" alt="{{ recipe.title }}" class="object-fit-cover w-100 img-title">
            </figure>
            <section class="post-full-content">
                <h1 class="display-4">{{ recipe.title }}</h1>
                <section class="content-body">{{ recipe.description|markup|raw }}</section>
            </section>
        </article>
        <a href="{{ url('edit_recipe', {slug: recipe.slug}) }}" rel="nofollow" class="btn btn-outline-light text-decoration-none text-secondary">Editovat recept</a>
    </div>
{% endblock %}

