{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}
    <div class="container-md pb-4">
        <article class="mb-4">
            <figure class="">
                <img src="{{ '/images/' ~ recipe.slug ~ '.jpg' ~ '?' ~ recipe.cacheBuster }}" alt="{{ recipe.title }}"
                     class="object-fit-cover w-100 img-title">
            </figure>
            {% if is_granted('ROLE_ADMIN') %}
                <section>
                    <ul class="list-group">
                        {% if currentTags|length > 0 %}
                            <li class="list-group-item">
                                <div>
                                    Přidané tagy
                                </div>
                                <div class="card-body">
                                    {% for tag in currentTags %}
                                        <a class="btn btn-secondary my-1 btn-sm"
                                           href="{{ path('remove_tag', {recipeId: recipe.id, tagId: tag.id}) }}"><span
                                                    class="fw-bolder text-warning">-</span> {{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                        {% if availableTags|length > 0 %}
                            <li class="list-group-item">
                                <div>
                                    Ostatní tagy
                                </div>
                                {% for tag in availableTags %}
                                    <a class="btn btn-outline-secondary my-1 btn-sm"
                                       href="{{ path('tag_recipe', {recipeId: recipe.id, tagId: tag.id}) }}"><span
                                                class="fw-bolder text-success">+</span> {{ tag.name }}</a>
                                {% endfor %}
                                <a href="{{ path('create_tag') }}" class="btn btn-primary my-1 btn-sm">Vytvořit nový tag</a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
            {% endif %}
            <section class="post-full-content mb-4">
                <h1 class="display-5 my-5">{{ recipe.title }}</h1>
                <section class="content-body">{{ recipe.description|markup|raw }}</section>
                <section>Původní recept: <a href="{{ recipe.link }}">{{ recipe.link }}</a></section>
            </section>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <section class="mb-4">
                <a href="{{ path('edit_recipe', {recipeId: recipe.id}) }}"
                   class="btn btn-outline-secondary text-decoration-none text-secondary">Editovat recept</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-recipe">
                    Smazat recept
                </button>
                <!-- Modal -->
                <div class="modal fade" id="delete-recipe" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Smazat recept
                                    <i><b>{{ recipe.title }}</b></i></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Opravdu chcete smazat recept? Tato akce je nevratná.
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" href="{{ path('delete_recipe', {recipeId: recipe.id}) }}">Smazat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}

