{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}
    <header class="site-head">
        <div class="container">
            <div class="site-mast">
                <div class="site-mast-left">
                    <a href="/">
                        <h3 style="color: white">Recepty</h3>
                        <h3 style="color: white">
                            <a href="{{ url('edit_recipe', {slug: recipe.slug}) }}" rel="nofollow">Editovat recept</a>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="site-main">
        <div class="container">
            <article class="content">
                <figure class="post-feature-image">
                    <img src="{{ '/images/' ~ recipe.slug ~ '.jpg' }}" alt="{{ recipe.title }}">
                </figure>
                <section class="post-full-content">
                    <h1 class="content-title">{{ recipe.title }}</h1>
                    <section class="content-body">{{ recipe.description|markup|raw }}</section>
                </section>
            </article>
        </div>
    </main>
{% endblock %}

