{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}
    <div class="container-md">
        <article class="">
            <figure class="">
                <img src="{{ '/images/' ~ recipe.slug ~ '.jpg' ~ '?' ~ recipe.cacheBuster }}" alt="{{ recipe.title }}" class="object-fit-cover w-100 img-title">
            </figure>
            {% if is_granted('ROLE_ADMIN') %}
                <section>
                    {% if currentTags|length > 0 %}
                        <h2>Přidané tagy</h2>
                        {% for tag in currentTags %}
                            <a class="btn btn-secondary my-1" href="{{ url('remove_tag', {recipeId: recipe.id, tagId: tag.id}) }}">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                    {% if availableTags|length > 0 %}
                        <h2>Přidat další tag</h2>
                        {% for tag in availableTags %}
                            <a class="btn btn-light my-1" href="{{ url('tag_recipe', {recipeId: recipe.id, tagId: tag.id}) }}">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </section>
            {% endif %}
            <section class="post-full-content">
                <h1 class="display-4">{{ recipe.title }}</h1>

                <section class="content-body">{{ recipe.description|markup|raw }}</section>
            </section>
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('edit_recipe', {recipeId: recipe.id}) }}" class="btn btn-outline-light text-decoration-none text-secondary">Editovat recept</a>
{#            <a href="{{ url('edit_recipe', {slug: recipe.slug}) }}" class="btn btn-danger text-decoration-none">Smazat recept</a>#}
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-recipe">
                Smazat recept
            </button>
            <!-- Modal -->
            <div class="modal fade" id="delete-recipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Smazat recept <i><b>{{ recipe.title }}</b></i></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Opravdu chcete smazat recept? Tato akce je nevratná.
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" href="{{ path('delete_recipe', {recipeId: recipe.id}) }}">Smazat</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

